body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-image: url("wall.jpeg") ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1{
    font-size: 70px;
    color: #fff;
}

#lyrics {
    max-width: 950px;
    margin: 20px auto;
    padding: 10px;
    font-size: 20px;
    color: #fff;
    /* border: 1px solid #ccc; */
    /* background: #f9f9f9; */
    height: 50px;
    overflow-y: auto;
}

.wall {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
    margin: auto;
    position: relative;
    padding: 20px;
}

.bottle {
    width: 50px;
    height: 100px;
    background: url("bottle-removebg-preview.png") no-repeat center/contain;
    margin: 50px 0 5px;
    transition: transform 1s ease-in-out, opacity 1s;
}

.falling {
    transform: translateY(100px) rotate(45deg);
    opacity: 0;
}

button {
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    margin: 0 5px;
    border: none;
    background: #28a745;
    color: white;
    border-radius: 5px;
}

button:hover{
    background: #ccc;
}

button#takeOne:di{
    /* display: block; */
}

button:disabled {
    background: #ccc;
    cursor: not-allowed;
   
}